extends layout

block content
  if errorLink && errorLink.length > 0
    p.alert.alert-danger #{errorLink}
  .content-header: .container-fluid: .row.mb-2
    .col-sm-6: a(href="/admin").m-0 Панель администратора
    .col-sm-6: ol.breadcrumb.float-sm-right: li.breadcrumb-item: a(href="/") Перейти на сайт  
  .admin_header
    .container 
      .row
        .col-lg-3
          a(href="/admin/students").block
            i.bi.bi-graph-up-arrow
            span.text Количество моих учеников
            if !students
              p Ошибка: students не определён
            else if students.length === 0
              p Нет данных о студентах
            else
              each student, i in students
                span.number #{student.graduates + student.currentStudents}
        .col-lg-3
          a(href="/admin/courses").block
            i.bi.bi-mortarboard
            span.text Курсы
            span.number  15
        .col-lg-3
          a(href="/admin/projects").block
            i.bi.bi-tv
            span.text Портфолио
            span.number 
        .col-lg-3
          a(href="/admin/networks").block
            i.bi.bi-hdd-network
            span.text Социальные сети
            span.number
        .col-lg-3
          a(href="/admin/resume").block
            i.bi.bi-filetype-pdf
            span.text Резюме
            span.number 50,120

