extends layout

block content
  if errorNetworks && errorNetworks.length > 0
    p.alert.alert-danger #{errorNetworks}
  .content-header: .container-fluid: .row.mb-2
    .col-sm-6.d-flex.justify-content-start: ol.breadcrumb.float-sm-right
      li.breadcrumb-item: a(href="/admin") Администратор
      li.breadcrumb-item: a(href="/admin/networks") Мои социальные сети
      li.breadcrumb-item.active #{title}
  .container
    .row.justify-content-center
      .col-lg-6
        form(method="POST" action=(networks ? `/admin/editNetwork/${networks._id}` : "#")).border.p-4.shadow-lg.rounded.wrapperForm
          .mb-3
            label.form-label.fs-4(for='network') Ваша социальная сеть
            input#name.form-control.mb-2(type='text' name='network' value=(networks && networks.network ? networks.network : "") placeholder='Введите свою социальную сеть')
            label.form-label.fs-4(for='networkLink') Ссылка на вашу социальную сеть
            input#name.form-control.mb-2(type='text' name='networkLink' value=(networks && networks.networkLink ? networks.networkLink : "") placeholder='Введите ссылку вашей социальной сети')
          button.btn.btn-dark.shadow-lg.w-100.text-light.mt-5(type='submit') Изменить