extends layout

block content
  if errorStudentsAdd && errorStudentsAdd.length > 0
    p.alert.alert-danger #{errorStudentsAdd}
  .content-header: .container-fluid: .row.mb-2
    .col-sm-6.d-flex.justify-content-start: ol.breadcrumb.float-sm-right
      li.breadcrumb-item: a(href="/admin") Администратор
      li.breadcrumb-item: a(href="/admin/students") Количество моих учеников
      li.breadcrumb-item.active #{title}   
  .container
    .row.justify-content-center
      .col-lg-6
        form(method="POST" action="/admin/studentsAdd").border.p-4.shadow-lg.rounded.wrapperForm
          .mb-3
            label.form-label.fs-4(for='graduates') Текущие студенты
            input#name.form-control.mb-2(type='number' name='graduates' placeholder='Введите текущих студентов')
            label.form-label.fs-4(for='currentStudents') Выпускники
            input#name.form-control(type='number' name='currentStudents' placeholder='Введите количество студентов, окончивших обучение')
          button.btn.btn-dark.shadow-lg.w-100.text-light.mt-5(type='submit') Создать