main.aboutus
  .container
    .row
      .col-lg-6
        h2 Biz haqimizda 
        p Biz 2020 yildan beri chet tillarini o'rgatib kelamiz va talab katta bo‘lgan kasblarni egallashga yordam beruvchi yetakchi o‘quv markazimiz.
        p Bizning vazifamiz o'rganishni qulay va samarali qilishdir. Biz dasturlash, dizayn, marketing va boshqa sohalarda kurslarni taklif etamiz. 1000 dan ortiq talaba o‘qishni muvaffaqiyatli tamomlab, ishga joylashdi. Bizga qo'shiling va maqsadlaringizga erishing!
        p Biz xalqaro ta'lim platformalari va universitetlar bilan hamkorlik qilamiz, bu esa talabalarimizga tan olingan sertifikatlarni olish va chet elda o'qishni davom ettirish imkonini beradi.
        a(href="#contact") Biz bilan bog'laning!
      .col-lg-6
        .aboutus_img
          img(src="/images/teacher.png" alt="png")