main.courses
  h2 Kurslar jadvali
  .container
    table
      tr
        th Kurslar
        th Vaqti
        th Hafta kunlari
        th Hozirgi o'tilayotgan mavzu
      tr
        td Chet tili
        td 10:00
        td Dushanba, Chorshanba, Juma
        td Present Simple
      tr
        td Dasturlash
        td 10:00
        td Seshanba, Payshanba, Shanba
        td Javascript asoslari