main.courses
  h2 Kurslar jadvali
  .container
    table
      tr
        th Kurslar
        th Vaqti
        th Hafta kunlari
        th Hozirgi o'tilayotgan mavzu
      each course in courses
        tr 
          td #{course.course}
          td #{course.time}
          td #{course.weekdays}
          td #{course.topic}