main.endBar
  .container
    .row.align-items-center.justify-content-between
      .col-lg-3
        a.footer_logo(href="/") 
          img(src="/images/logo.png" alt="png")
      .col-lg-4.d-flex.justify-content-end
        .footerSet.d-flex.flex-column
          .icons.d-flex
            a(href="")
              i.fa-brands.fa-facebook
            a(href="")
              i.fa-brands.fa-instagram
            a(href="")
              i.fa-brands.fa-telegram
          a.footer_phone(href="tel:+998915650070") Call-markaz: +998 91 565 00 70
    p Mualliflik huquqi © 2025 Inside


