main.endBar
  .container
    .row.align-items-center.justify-content-between
      .col-lg-3
        a.footer_logo(href="/") 
          img(src="/images/logo.png" alt="png")
      .col-lg-4.d-flex.justify-content-end
        .footerSet.d-flex.flex-column
          .icons.d-flex.justify-content-between
            if networks
              each network in networks
                if network.network == "facebook"
                  a(href=network.networkLink)
                    i.fa-brands.fa-facebook
                if network.network == "instagram"
                  a(href=`${network.networkLink}`)
                    i.fa-brands.fa-instagram
                if network.network == "telegram"
                  a(href=`${network.networkLink}`)
                    i.fa-brands.fa-telegram
            else 
              p 0
          a.footer_phone(href="tel:+998915650070") +998 91 565 00 70
    p Mualliflik huquqi © 2025 Inside


