header
  .header_top
    .container
      .row.justify-content-between
        .col-lg-2
          a.logo(href="/")
            img(src='/images/logo.png' alt='png')
        .col-lg-2
          a.phone(href='tel:+998915650070') +998915650070