header
  .header_top
    .container
      .row.justify-content-between.align-items-center
        .col-lg-2
          a.logo(href="/")
            img(src='/images/logo.png' alt='png')
        .col-lg-3.d-flex.justify-content-end
          a.phone(href='tel:+998915650070')
            i.fa-solid.fa-phone
            | +998 (91) 565 00 70
  .header_center
    .container
      .row
        .col-lg-6
          h1 INSIDEUZ chet tillariga ixtisoslashtirilgan o'quv markazi!
          p Chet tillarini professionallardan o'rganing va o'z karyerangizni boshlang!
          a(href="#contact") Biz bilan bog'laning!
        .col-lg-6
          .teacher_img
            img(src='/images/sab.png' alt='png')
