main.results
  .container
    h2.text-center Bizning o'quvchilar
    .row.justify-content-center
      .col-lg-4
        .card_results
          p Hozirda o'qiyotgan o'quvchilar soni
          i.fa-solid.fa-user
          pre #{JSON.stringify(students, null, 2)}
          if students && students.length
            each student in students
              span #{student.graduates}
          else 
            | 0
      .col-lg-4
        .card_results
          p Muvaffaqiyatli bitirgan o'quvchilar soni
          i.fa-solid.fa-user-graduate
          if students && students.length
            each student in students
              span #{student.currentStudents}
          else 
            | 0
