main.whyus
  .container
    .row
      .col-lg-7
        h2 Nimaga aynan bizni tanlashingiz kerak?
        .text
          i.fa-solid.fa-square-check
          | Tajribali o'qituvchilar - professionallardan ta'lim
        .text
          i.fa-solid.fa-square-check
          | Zamonaviy metodikalar - qiziqarli mashg'ulotlar, yangi texnologiyalar
        .text
          i.fa-solid.fa-square-check
          | Moslashuvchan jadval - hamma uchun qulay jadval
        .text
          i.fa-solid.fa-square-check
          | Yuqori natija - bitiruvchilar muvaffaqiyatga erishadilar
        .text
          i.fa-solid.fa-square-check
          | Hamyonbop narxlar - hamma uchun birdek hamyonbop
      .col-lg-5
        .achievement
          img(src="/images/achievement.png" alt="jpg")