doctype html
html
  include layouts/head
  body
    include layouts/header
    include layouts/whyus
    include layouts/results
    include layouts/aboutus
    include layouts/courses
    block content

  
    include layouts/footer
