doctype html
html
  include layouts/head
  body
    if succesClient && succesClient.length > 0
      p.alert.alert-success.mb-0 #{succesClient}
    include layouts/header
    include layouts/whyus
    include layouts/results
    include layouts/aboutus
    include layouts/courses
    include layouts/consultation
    include layouts/endBar
    block content

  
    include layouts/footer
