*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ========== header start ========= */

header {
  background: #02303c;
  border-bottom: 10px solid #107184;
  padding-bottom: 40px;
}

header .header_top{
  padding-top: 30px;
  margin-bottom: 100px;
}

header .header_top .logo img{
  width: 80px;
}

header .header_top .phone{
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

header .header_top .phone i{
  color: #48a1ea;
  margin-right: 15px;
}

header .header_center h1{
  color: rgb(216, 211, 211);
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  margin-top: 50px;
  margin-bottom: 10px;
}

header .header_center p{
  margin: 0;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 120px;
}

header .header_center a{
  text-decoration: none;
  background: #48a1ea;
  padding: 10px 20px;
  color: white;
  display: inline-block;
  border-radius: 30px;
  font-size: 18px;
  transition: 500ms;
}

header .header_center a:hover{
  color: #48a1ea;
  background: white;
  letter-spacing: 3px;
}

header .header_center .teacher_img {
  max-width: 500px;
  max-height: 500px;
}

header .header_center .teacher_img img {
  max-width: 100%;
  height: auto;
}


/* ============ main.whyus ============ */

main.whyus{
  padding: 150px 0 100px;
  background: #03232b;
  border-bottom: 10px solid #107184;
}

main.whyus h2{
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}

main.whyus .achievement {
  max-width: 500px;
  max-height: 500px;
}
main.whyus .achievement img {
  max-width: 100%;
  height: auto;
}

main.whyus .text{
  width: 100%;
  background: #0e3945;
  margin-bottom: 15px;
  color: white;
  padding: 15px 10px;
  display: flex;
  align-items: center;
}

main.whyus .text i{
  margin-right: 10px;
  color: #3bbef5;
}

/* ============ main.results ============ */

main.results {
  padding-bottom: 100px;
  background: #03212b;
  padding-top: 100px;
  border-bottom: 10px solid #107184;
}

main.results h2{
  color: white;
  margin-bottom: 50px;
}

main.results .card_results{
  background: #03313f;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

main.results .card_results i{
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ============ main.aboutus ============ */

main.aboutus {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #01313b;
  border-bottom: 10px solid #107184;
}

main.aboutus h2{
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 50px;
  margin-top: 40px;
}

main.aboutus p{
  color: white;
  margin-bottom: 0;
  margin-bottom: 20px;
}

main.aboutus a{
  text-decoration: none;
  background: #48a1ea;
  padding: 10px 20px;
  color: white;
  display: inline-block;
  border-radius: 30px;
  font-size: 18px;
  transition: 500ms;
  margin-top: 10px;
}

main.aboutus a:hover{
  color: #48a1ea;
  background: white;
  letter-spacing: 3px;
}

main.aboutus .aboutus_img  {
  max-width: 500px;
  max-height: 500px;
}

main.aboutus .aboutus_img img {
  max-width: 100%;
  height: auto;
}


/* =========== main.courses ============ */

main.courses {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #03212b;
  border-bottom: 10px solid #107184;
}

main.courses h2 {
  text-align: center;
  color: white;
  margin-bottom: 35px;
}
main.courses table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
main.courses th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
main.courses th {
  background-color: #01313b;
  color: white;
}
main.courses tr:nth-child(even) {
  background-color: #f9f9f9;
}



/* =========== main.consultation ============ */

main.consultation {
  padding-top: 100px;
  background: #02303c;
  padding-bottom: 100px;
  border-bottom: 10px solid #107184;
}

main.consultation .consultation_img{
  width: 100%;
  height: auto;
}

main.consultation .consultation_card {
  background: #0e4a5c;
  border: none !important;
  padding: 30px 30px 5px;
}

main.consultation .consultation_card .form-control:focus{
  box-shadow: none;
  border-color: #dee2e6;
}

main.consultation .consultation_card h2{
  color: white;
  margin-bottom: 25px;
  margin-top: 10px;
  font-size: 37px;
}

main.consultation .consultation_card p{
  margin: 0;
  margin-bottom: 35px;
  color: white;
  font-size: 16px;
}

main.consultation .consultation_card button{
  background: #48a1ea;
}



/* =========== main.endBar ============ */

main.endBar{
  padding-top: 30px;
  background: #03212b;
  padding-bottom: 10px;
  border-bottom: 10px solid #107184;
}

main.endBar .footer_logo img{
  width: 80px;
}

main.endBar .footerSet .icons a i{
  color: white;
  font-size: 18px;
  transition: 1ms;
}

main.endBar .footerSet .icons a i:hover {
  transform: scale(1.2);
}

main.endBar .footerSet .footer_phone{
  color: #48a1ea;
  text-decoration: none;
}

main.endBar .footerSet .footer_phone:hover{
  text-decoration: underline;
}

main.endBar p{
  margin: 0;
  margin-top: 20px;
  padding-top: 10px;
  color: white;
  font-size: 14px;
  border-top: 1px solid #3fadd8;
}