*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

/* ========== header start ========= */

header {
  background: #02303c;
}

header .header_top .logo img{
  width: 80px;
}
